<h1>Welcome to your Diary App</h1>
<h3>What would you like to do?</h3>
<form action=/new_entry method='get'>
  <input type='submit' value="New Entry">
</form>
<form action=/view_entries method='get'>
  <input type='submit' value="View Entries">
</form>
